In [1]:
import numpy as np
import pandas as pd
import os
import random

import lightgbm as lgb

import datetime
import jpholiday

In [2]:
input_path = '../datasets/'
target_category = [38, 110, 113, 114, 134, 171, 172, 173, 376, 435, 467, 537, 539, 629, 768]
target_category_str = [str(col) for col in target_category]

In [3]:
log_df = pd.read_csv(os.path.join(input_path, 'carlog.csv'))
log_df2 = pd.read_csv('../output/cart_log.csv')
meta_df = pd.read_csv(os.path.join(input_path, 'meta.csv'), parse_dates=['date'])
test_df = pd.read_csv(os.path.join(input_path, 'test.csv'))
product_master_df = pd.read_csv(os.path.join(input_path, 'product_master.csv'))
user_master_df = pd.read_csv(os.path.join(input_path, 'user_master.csv'))
# sample_submission_df = pd.read_csv(os.path.join(input_path, 'atmaCup#9__sample_submission.csv'))

train_Y = pd.read_csv('../output/train_Y.csv')
# test_Y = pd.read_csv('../output/test_Y.csv')

/Users/imazekishouta/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Feature Engineering
- 静的な情報はmeta_dfに集約させていく

## Date

In [4]:
def check_next_holiday(date):
    next_date = date + datetime.timedelta(days=1)
    
    is_jpholiday = jpholiday.is_holiday(next_date)
    if is_jpholiday or next_date.weekday() > 4:
        return 1
    else:
        return 0

date_df = meta_df[['date']].drop_duplicates().reset_index(drop=True)
date_df['month'] = [date.date().month for date in date_df.date]
date_df['day'] = [date.date().day for date in date_df.date]
date_df['weekday'] = [date.weekday() for date in date_df.date]
date_df['jp_holiday'] = [ jpholiday.is_holiday(date) for date in date_df['date']]
date_df.loc[date_df['weekday'] > 4, 'jp_holiday'] = True
date_df['jp_holiday'] = date_df['jp_holiday'].astype('int8')
date_df['tgif'] = [check_next_holiday(date.date()) for date in date_df.date]
date_df.loc[(date_df['jp_holiday']==1) & (date_df['tgif']==1), 'tgif'] = 0
date_df.head()

        date  month  day  weekday  jp_holiday  tgif
0 2019-02-14      2   14        3           0     0
1 2019-02-15      2   15        4           0     1
2 2019-02-16      2   16        5           1     0
3 2019-02-17      2   17        6           1     0
4 2019-02-18      2   18        0           0     0

In [7]:
meta_df = pd.merge(meta_df[['session_id', 'user_id', 'date', 'hour', 'register_number', 'time_elapsed']], date_df, on='date', how='left')
meta_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,tgif
0,0,bE94Gct4vGiKM7z2Y79cjk,2019-02-14,4,2003,NaN,2,14,3,0,0
1,1,V4bEuaKPEPoK8MswqPksvK,2019-02-14,4,2006,NaN,2,14,3,0,0
2,2,ntRurFKVWYBQR86auef5Fc,2019-02-14,5,2001,NaN,2,14,3,0,0
3,3,GhHaHMCyrz76y2dCeVXfbn,2019-02-14,5,2001,NaN,2,14,3,0,0
4,4,kG58HejrEcbjJQ7JojRSay,2019-02-14,5,2002,NaN,2,14,3,0,0

In [8]:
del date_df

## user_master

In [9]:
meta_df = pd.merge(meta_df, user_master_df, on='user_id', how='left')
meta_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,tgif,age,gender
0,0,bE94Gct4vGiKM7z2Y79cjk,2019-02-14,4,2003,NaN,2,14,3,0,0,40.0,1.0
1,1,V4bEuaKPEPoK8MswqPksvK,2019-02-14,4,2006,NaN,2,14,3,0,0,30.0,0.0
2,2,ntRurFKVWYBQR86auef5Fc,2019-02-14,5,2001,NaN,2,14,3,0,0,50.0,1.0
3,3,GhHaHMCyrz76y2dCeVXfbn,2019-02-14,5,2001,NaN,2,14,3,0,0,30.0,0.0
4,4,kG58HejrEcbjJQ7JojRSay,2019-02-14,5,2002,NaN,2,14,3,0,0,30.0,1.0

In [10]:
del user_master_df

# 来店回数

In [11]:
meta_df['num_visit'] = meta_df[['session_id', 'user_id']].groupby('user_id').agg('cumcount')
meta_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,tgif,age,gender,num_visit
0,0,bE94Gct4vGiKM7z2Y79cjk,2019-02-14,4,2003,NaN,2,14,3,0,0,40.0,1.0,0
1,1,V4bEuaKPEPoK8MswqPksvK,2019-02-14,4,2006,NaN,2,14,3,0,0,30.0,0.0,0
2,2,ntRurFKVWYBQR86auef5Fc,2019-02-14,5,2001,NaN,2,14,3,0,0,50.0,1.0,0
3,3,GhHaHMCyrz76y2dCeVXfbn,2019-02-14,5,2001,NaN,2,14,3,0,0,30.0,0.0,0
4,4,kG58HejrEcbjJQ7JojRSay,2019-02-14,5,2002,NaN,2,14,3,0,0,30.0,1.0,0

## Max Elapsed_time

In [13]:
log_df2 = pd.read_csv('../output/cart_log.csv')
log_df2 = log_df2[log_df2['predict']==0]
max_time_df = log_df2.groupby('session_id')[['spend_time']].max().reset_index()
del log_df2

meta_df.loc[max_time_df['session_id'], 'time_elapsed'] = max_time_df['spend_time']
meta_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,tgif,age,gender,num_visit
0,0,bE94Gct4vGiKM7z2Y79cjk,2019-02-14,4,2003,140.0,2,14,3,0,0,40.0,1.0,0
1,1,V4bEuaKPEPoK8MswqPksvK,2019-02-14,4,2006,101.0,2,14,3,0,0,30.0,0.0,0
2,2,ntRurFKVWYBQR86auef5Fc,2019-02-14,5,2001,39.0,2,14,3,0,0,50.0,1.0,0
3,3,GhHaHMCyrz76y2dCeVXfbn,2019-02-14,5,2001,220.0,2,14,3,0,0,30.0,0.0,0
4,4,kG58HejrEcbjJQ7JojRSay,2019-02-14,5,2002,44.0,2,14,3,0,0,30.0,1.0,0

# meta情報の結合

In [14]:
train_df = pd.merge(train_Y[['session_id']], meta_df, on='session_id', how='left')
train_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,tgif,age,gender,num_visit
0,105,CN9sWHXp6RdCuyFkW5aemG,2019-02-14,9,1005,152.0,2,14,3,0,0,40.0,0.0,0
1,106,Wi5hmLRCmUPXMRheu354dd,2019-02-14,9,1010,147.0,2,14,3,0,0,60.0,1.0,0
2,107,kTFrFDLeaaggCoubWZJHpg,2019-02-14,9,1010,177.0,2,14,3,0,0,30.0,0.0,0
3,108,exwdBc8tNJYAjhc4Gd6qtj,2019-02-14,9,1011,247.0,2,14,3,0,0,60.0,0.0,0
4,109,XUeiScqGsozKQFxcd3RDsD,2019-02-14,9,1013,147.0,2,14,3,0,0,70.0,0.0,0

# 平均買い物時間

In [21]:
max_time_df = log_df.groupby('session_id')[['spend_time']].max().reset_index()
max_time_df = pd.merge(max_time_df, meta_df[['session_id', 'user_id']], on='session_id', how='left')
max_time_df2 = max_time_df.copy()
max_time_df2['spend_time'] = max_time_df2.groupby('user_id')['spend_time'].shift()

cum = max_time_df2.groupby('user_id')['spend_time'].agg(['cumsum', 'cumcount'])

cum['avg'] = cum['cumsum'] / cum['cumcount']
max_time_df2['max_time_avg'] = cum['avg']
max_time_df2.fillna(-1, inplace=True)
max_time_df2.drop(['user_id', 'spend_time'], axis=1, inplace=True)
max_time_df2.head()

   session_id  max_time_avg
0           0          -1.0
1           1          -1.0
2           2          -1.0
3           3          -1.0
4           4          -1.0

## 結合

In [22]:
pre = len(train_df)
train_df = pd.merge(train_df, max_time_df2, on='session_id', how='left')
assert pre == len(train_df)
train_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,tgif,age,gender,num_visit,max_time_avg
0,105,CN9sWHXp6RdCuyFkW5aemG,2019-02-14,9,1005,152.0,2,14,3,0,0,40.0,0.0,0,-1.0
1,106,Wi5hmLRCmUPXMRheu354dd,2019-02-14,9,1010,147.0,2,14,3,0,0,60.0,1.0,0,-1.0
2,107,kTFrFDLeaaggCoubWZJHpg,2019-02-14,9,1010,177.0,2,14,3,0,0,30.0,0.0,0,-1.0
3,108,exwdBc8tNJYAjhc4Gd6qtj,2019-02-14,9,1011,247.0,2,14,3,0,0,60.0,0.0,0,-1.0
4,109,XUeiScqGsozKQFxcd3RDsD,2019-02-14,9,1013,147.0,2,14,3,0,0,70.0,0.0,0,-1.0

In [23]:
del max_time_df2

# 平均買い物個数

# 過去の購買行動の情報を結合

In [24]:
all_train_Y = pd.read_csv('../output/all_train_Y.csv')

## 累積和を取って平均値を抽出

In [25]:
# cumsum
all_train_Y = pd.merge(all_train_Y, meta_df[['session_id', 'user_id']], on='session_id', how='left')
all_train_Y2 = all_train_Y.copy()
all_train_Y2[target_category_str] = all_train_Y2.groupby('user_id')[target_category_str].shift()

cum = all_train_Y2.groupby('user_id')[target_category_str].agg(['cumsum', 'cumcount'])

cols = []

for col in target_category_str:
    cols.append(col + '_cumsum')
    cols.append(col + '_cumcount')
cum.columns = cols

avg_cols = []
for col in target_category_str:
    k = col + '_avg'
#     cum[col + '_cumcount'] += 1
    all_train_Y2[k]= cum[col + '_cumsum'] / cum[col + '_cumcount']
    avg_cols.append(k)

all_train_Y2.drop(target_category_str, axis=1, inplace=True)
all_train_Y2.fillna(-1, inplace=True)
all_train_Y2.drop(['user_id'], axis=1, inplace=True)
all_train_Y2.head()

,index,session_id,38_avg,110_avg,113_avg,114_avg,134_avg,171_avg,172_avg,173_avg,376_avg,435_avg,467_avg,537_avg,539_avg,629_avg,768_avg
0,0,0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,1,1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,2,2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,3,3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,4,4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

## 結合

In [26]:
pre = len(train_df)
train_df = pd.merge(train_df, all_train_Y2, on='session_id', how='left')
assert pre == len(train_df)
train_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,...,171_avg,172_avg,173_avg,376_avg,435_avg,467_avg,537_avg,539_avg,629_avg,768_avg
0,105,CN9sWHXp6RdCuyFkW5aemG,2019-02-14,9,1005,152.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,106,Wi5hmLRCmUPXMRheu354dd,2019-02-14,9,1010,147.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,107,kTFrFDLeaaggCoubWZJHpg,2019-02-14,9,1010,177.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,108,exwdBc8tNJYAjhc4Gd6qtj,2019-02-14,9,1011,247.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,109,XUeiScqGsozKQFxcd3RDsD,2019-02-14,9,1013,147.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [27]:
del all_train_Y2

## 対象カテゴリ外のラグ特徴量

In [28]:
all_train_depart_target_Y = pd.read_csv('../output/all_train_depart_target_Y.csv')
depart_target_str = list(all_train_depart_target_Y.columns)[1:]

## 累積和を取って平均値を抽出

In [29]:
# cumsum
all_train_depart_target_Y = pd.merge(all_train_depart_target_Y, meta_df[['session_id', 'user_id']], on='session_id', how='left')
all_train_depart_target_Y2 = all_train_depart_target_Y.copy()
all_train_depart_target_Y2[depart_target_str] = all_train_depart_target_Y2.groupby('user_id')[depart_target_str].shift()

cum = all_train_depart_target_Y2.groupby('user_id')[depart_target_str].agg(['cumsum', 'cumcount'])

cols = []
for col in depart_target_str:
    cols.append(col + '_cumsum')
    cols.append(col + '_cumcount')
cum.columns = cols

depart_avg_cols = []
for col in depart_target_str:
    k = col + '_depart_avg'
#     cum[col + '_cumcount'] += 1
    all_train_depart_target_Y2[k]= cum[col + '_cumsum'] / cum[col + '_cumcount']
    depart_avg_cols.append(k)

all_train_depart_target_Y2.drop(depart_target_str, axis=1, inplace=True)
all_train_depart_target_Y2.fillna(-1, inplace=True)
all_train_depart_target_Y2.drop(['user_id'], axis=1, inplace=True)
all_train_depart_target_Y2.head()

,session_id,1_depart_avg,2_depart_avg,3_depart_avg,4_depart_avg,5_depart_avg,7_depart_avg,9_depart_avg,10_depart_avg,13_depart_avg,...,225_depart_avg,226_depart_avg,227_depart_avg,228_depart_avg,229_depart_avg,230_depart_avg,231_depart_avg,232_depart_avg,233_depart_avg,234_depart_avg
0,0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

## 結合

In [30]:
pre = len(train_df)
train_df = pd.merge(train_df, all_train_depart_target_Y2, on='session_id', how='left')
assert pre == len(train_df)
train_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,...,225_depart_avg,226_depart_avg,227_depart_avg,228_depart_avg,229_depart_avg,230_depart_avg,231_depart_avg,232_depart_avg,233_depart_avg,234_depart_avg
0,105,CN9sWHXp6RdCuyFkW5aemG,2019-02-14,9,1005,152.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,106,Wi5hmLRCmUPXMRheu354dd,2019-02-14,9,1010,147.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,107,kTFrFDLeaaggCoubWZJHpg,2019-02-14,9,1010,177.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,108,exwdBc8tNJYAjhc4Gd6qtj,2019-02-14,9,1011,247.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,109,XUeiScqGsozKQFxcd3RDsD,2019-02-14,9,1013,147.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [31]:
del all_train_depart_target_Y2

# 過去の購入価格情報の結合

In [32]:
all_train_price = pd.read_csv('../output/all_train_price.csv')

## 累積和から平均を抽出

In [33]:
# cumsum
all_train_price = pd.merge(all_train_price, meta_df[['session_id', 'user_id']], on='session_id', how='left')
all_train_price2 = all_train_price.copy()
all_train_price2[target_category_str] = all_train_price2.groupby('user_id')[target_category_str].shift()

cum = all_train_price2.groupby('user_id')[target_category_str].agg(['cumsum', 'cumcount'])

cols = []

for col in target_category_str:
    cols.append(col + '_cumsum')
    cols.append(col + '_cumcount')
cum.columns = cols

price_avg_cols = []
for col in target_category_str:
    k = col + '_price_avg'
    all_train_price2[k]= cum[col + '_cumsum'] / cum[col + '_cumcount']
    price_avg_cols.append(k)

all_train_price2.drop(target_category_str, axis=1, inplace=True)
all_train_price2.fillna(-1, inplace=True)
all_train_price2.drop(['user_id'], axis=1, inplace=True)
all_train_price2.head()

,session_id,38_price_avg,110_price_avg,113_price_avg,114_price_avg,134_price_avg,171_price_avg,172_price_avg,173_price_avg,376_price_avg,435_price_avg,467_price_avg,537_price_avg,539_price_avg,629_price_avg,768_price_avg
0,0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

## 結合

In [34]:
pre = len(train_df)
train_df = pd.merge(train_df, all_train_price2, on='session_id', how='left')
assert pre == len(train_df)
train_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,...,171_price_avg,172_price_avg,173_price_avg,376_price_avg,435_price_avg,467_price_avg,537_price_avg,539_price_avg,629_price_avg,768_price_avg
0,105,CN9sWHXp6RdCuyFkW5aemG,2019-02-14,9,1005,152.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,106,Wi5hmLRCmUPXMRheu354dd,2019-02-14,9,1010,147.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,107,kTFrFDLeaaggCoubWZJHpg,2019-02-14,9,1010,177.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,108,exwdBc8tNJYAjhc4Gd6qtj,2019-02-14,9,1011,247.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,109,XUeiScqGsozKQFxcd3RDsD,2019-02-14,9,1013,147.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [35]:
del all_train_price2

# 子持ち特徴量

In [36]:
child_feature_df = pd.read_csv('../output/all_train_child_feature.csv')

## 累積和を元に平均を産出

In [37]:
# cumsum
child_col = 'child_items'
child_cols= ['child_items_sum', 'child_items_avg']
child_feature_df = pd.merge(child_feature_df, meta_df[['session_id', 'user_id']], on='session_id', how='left')
child_feature_df2 = child_feature_df.copy()
child_feature_df2[child_col] = child_feature_df2.groupby('user_id')[child_col].shift()

cum = child_feature_df2.groupby('user_id')[child_col].agg(['cumsum', 'cumcount'])

child_feature_df2['child_items_sum'] = cum['cumsum']
child_feature_df2['child_items_avg'] = cum['cumsum'] / cum['cumcount']
child_cols= ['child_items_sum', 'child_items_avg']
child_feature_df2.fillna(-1, inplace=True)
child_feature_df2.drop(['user_id', child_col], axis=1, inplace=True)
child_feature_df2.head()

   session_id  child_items_sum  child_items_avg
0           0             -1.0             -1.0
1           1             -1.0             -1.0
2           2             -1.0             -1.0
3           3             -1.0             -1.0
4           4             -1.0             -1.0

## 結合

In [38]:
pre = len(train_df)
train_df = pd.merge(train_df, child_feature_df2, on='session_id', how='left')
assert pre == len(train_df)
train_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,...,173_price_avg,376_price_avg,435_price_avg,467_price_avg,537_price_avg,539_price_avg,629_price_avg,768_price_avg,child_items_sum,child_items_avg
0,105,CN9sWHXp6RdCuyFkW5aemG,2019-02-14,9,1005,152.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,106,Wi5hmLRCmUPXMRheu354dd,2019-02-14,9,1010,147.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,107,kTFrFDLeaaggCoubWZJHpg,2019-02-14,9,1010,177.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,108,exwdBc8tNJYAjhc4Gd6qtj,2019-02-14,9,1011,247.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,109,XUeiScqGsozKQFxcd3RDsD,2019-02-14,9,1013,147.0,2,14,3,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [39]:
del child_feature_df2

# 対象セッションの公開情報の結合

## 結合カラムの名前変更

In [40]:
def read_and_col_name(path='../output/train_given.csv'):
    df = pd.read_csv(path)
    cols = list(df.columns)
    rename_cols = []
    for col in cols:
        if col=='session_id':
            rename_cols.append(col)
        else:
            rename_cols.append(col + '_given')
    df.columns = rename_cols
    rename_cols.remove('session_id')
    return df, rename_cols

train_given_df, given_cols = read_and_col_name('../output/train_given.csv')
print(given_cols)
train_given_df.head()

['38_given', '110_given', '113_given', '114_given', '134_given', '171_given', '172_given', '173_given', '376_given', '435_given', '467_given', '537_given', '539_given', '629_given', '768_given']

,session_id,38_given,110_given,113_given,114_given,134_given,171_given,172_given,173_given,376_given,435_given,467_given,537_given,539_given,629_given,768_given
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
pre = len(train_df)
train_df = pd.merge(train_df, train_given_df, on='session_id', how='left')
assert pre == len(train_df)
train_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,...,171_given,172_given,173_given,376_given,435_given,467_given,537_given,539_given,629_given,768_given
0,105,CN9sWHXp6RdCuyFkW5aemG,2019-02-14,9,1005,152.0,2,14,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,106,Wi5hmLRCmUPXMRheu354dd,2019-02-14,9,1010,147.0,2,14,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,107,kTFrFDLeaaggCoubWZJHpg,2019-02-14,9,1010,177.0,2,14,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,108,exwdBc8tNJYAjhc4Gd6qtj,2019-02-14,9,1011,247.0,2,14,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,109,XUeiScqGsozKQFxcd3RDsD,2019-02-14,9,1013,147.0,2,14,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 対象セッションの公開情報(子供特徴量)

In [42]:
def read_child(path='../output/given_train_child_feature.csv'):
    df = pd.read_csv(path)
#     df.columns = rename_cols
#     rename_cols.remove('session_id')
    return df, ['child_items']

train_child_given_df, given_child_cols = read_child('../output/given_train_child_feature.csv')
print(given_child_cols)
train_child_given_df.head()

['child_items']

   session_id  child_items
0           0          0.0
1           1          0.0
2           2          0.0
3           3          0.0
4           4          0.0

In [43]:
pre = len(train_df)
train_df = pd.merge(train_df, train_child_given_df, on='session_id', how='left')
assert pre == len(train_df)
train_df.head()

,session_id,user_id,date,hour,register_number,time_elapsed,month,day,weekday,jp_holiday,...,172_given,173_given,376_given,435_given,467_given,537_given,539_given,629_given,768_given,child_items
0,105,CN9sWHXp6RdCuyFkW5aemG,2019-02-14,9,1005,152.0,2,14,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
1,106,Wi5hmLRCmUPXMRheu354dd,2019-02-14,9,1010,147.0,2,14,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,107,kTFrFDLeaaggCoubWZJHpg,2019-02-14,9,1010,177.0,2,14,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,108,exwdBc8tNJYAjhc4Gd6qtj,2019-02-14,9,1011,247.0,2,14,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,109,XUeiScqGsozKQFxcd3RDsD,2019-02-14,9,1013,147.0,2,14,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

 # 特徴量選択

In [44]:
feature_cols = ['age', 'gender', 'hour', 'weekday', 'jp_holiday', 'tgif', 'num_visit', 'month', 'day', 'register_number']  + avg_cols + given_cols + price_avg_cols + depart_avg_cols + child_cols + given_child_cols
# feature_cols = ['age', 'gender', 'hour', 'weekday', 'jp_holiday', 'tgif', 'num_visit', 'month', 'day', 'register_number']  + avg_cols + given_cols + price_avg_cols


categorical_columns =  ['gender', 'weekday', 'jp_holiday', 'tgif', 'month', 'day', 'register_number']

print(feature_cols)

['age', 'gender', 'hour', 'weekday', 'jp_holiday', 'tgif', 'num_visit', 'month', 'day', 'register_number', '38_avg', '110_avg', '113_avg', '114_avg', '134_avg', '171_avg', '172_avg', '173_avg', '376_avg', '435_avg', '467_avg', '537_avg', '539_avg', '629_avg', '768_avg', '38_given', '110_given', '113_given', '114_given', '134_given', '171_given', '172_given', '173_given', '376_given', '435_given', '467_given', '537_given', '539_given', '629_given', '768_given', '38_price_avg', '110_price_avg', '113_price_avg', '114_price_avg', '134_price_avg', '171_price_avg', '172_price_avg', '173_price_avg', '376_price_avg', '435_price_avg', '467_price_avg', '537_price_avg', '539_price_avg', '629_price_avg', '768_price_avg', '1_depart_avg', '2_depart_avg', '3_depart_avg', '4_depart_avg', '5_depart_avg', '7_depart_avg', '9_depart_avg', '10_depart_avg', '13_depart_avg', '14_depart_avg', '15_depart_avg', '16_depart_avg', '18_depart_avg', '19_depart_avg', '20_depart_avg', '21_depart_avg', '22_depart_avg', '23_depart_avg', '24_depart_avg', '25_depart_avg', '26_depart_avg', '27_depart_avg', '28_depart_avg', '29_depart_avg', '30_depart_avg', '32_depart_avg', '33_depart_avg', '34_depart_avg', '35_depart_avg', '36_depart_avg', '37_depart_avg', '38_depart_avg', '39_depart_avg', '40_depart_avg', '41_depart_avg', '46_depart_avg', '47_depart_avg', '49_depart_avg', '50_depart_avg', '58_depart_avg', '59_depart_avg', '60_depart_avg', '69_depart_avg', '70_depart_avg', '71_depart_avg', '72_depart_avg', '73_depart_avg', '74_depart_avg', '75_depart_avg', '77_depart_avg', '78_depart_avg', '79_depart_avg', '80_depart_avg', '81_depart_avg', '82_depart_avg', '83_depart_avg', '84_depart_avg', '87_depart_avg', '88_depart_avg', '89_depart_avg', '91_depart_avg', '92_depart_avg', '93_depart_avg', '94_depart_avg', '95_depart_avg', '96_depart_avg', '97_depart_avg', '98_depart_avg', '106_depart_avg', '107_depart_avg', '109_depart_avg', '117_depart_avg', '118_depart_avg', '121_depart_avg', '124_depart_avg', '131_depart_avg', '132_depart_avg', '133_depart_avg', '136_depart_avg', '137_depart_avg', '138_depart_avg', '141_depart_avg', '151_depart_avg', '152_depart_avg', '153_depart_avg', '154_depart_avg', '155_depart_avg', '156_depart_avg', '161_depart_avg', '162_depart_avg', '163_depart_avg', '165_depart_avg', '172_depart_avg', '173_depart_avg', '174_depart_avg', '178_depart_avg', '179_depart_avg', '182_depart_avg', '183_depart_avg', '185_depart_avg', '187_depart_avg', '194_depart_avg', '201_depart_avg', '202_depart_avg', '203_depart_avg', '206_depart_avg', '207_depart_avg', '210_depart_avg', '214_depart_avg', '215_depart_avg', '217_depart_avg', '219_depart_avg', '220_depart_avg', '221_depart_avg', '223_depart_avg', '224_depart_avg', '225_depart_avg', '226_depart_avg', '227_depart_avg', '228_depart_avg', '229_depart_avg', '230_depart_avg', '231_depart_avg', '232_depart_avg', '233_depart_avg', '234_depart_avg', 'child_items_sum', 'child_items_avg', 'child_items']

In [45]:
train_Y.tail()

,session_id,38,110,113,114,134,171,172,173,376,435,467,537,539,629,768
404820,663697,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
404821,663698,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
404822,663699,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
404823,663702,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
404824,663705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Train

In [46]:
params = {
'num_leaves': 300,
'max_bin':450,
'feature_fraction': 0.52,
'bagging_fraction': 0.52,
'objective': 'binary',
'learning_rate': 0.05,
"boosting_type": "gbdt",
"metric": 'auc',
'random_state': 47
}

In [47]:
tmp = [1,2,3,4,5,6,7,8,9,10]
tmp[8:]

[9, 10]

In [48]:
models = []
best_cv_scores = {}
best_model_scores = {}

for target_col in target_category_str:
    print('*'*100)
    print('*'*100)
    true_ids = list(train_Y[train_Y[target_col]==1].session_id.unique())
    false_ids = list(train_Y[train_Y[target_col]!=1].session_id.unique())
    print(target_col, len(true_ids), len(false_ids))
    
    false_ids = random.sample(false_ids, len(true_ids) * 2) # down samplling
    sampling_ids = true_ids + false_ids
    sampling_ids = sorted(sampling_ids)
    
    train_idx = sampling_ids[: int(len(sampling_ids)*0.8)]
    val_idx = sampling_ids[int(len(sampling_ids)*0.8): ]
    
    assert set(train_idx) & set(val_idx) == set()
    train_X = train_df[train_df.session_id.isin(train_idx)]
    train_y = train_Y[train_Y.session_id.isin(train_idx)]

    valid_X = train_df[train_df.session_id.isin(val_idx)].reset_index()
    valid_y = train_Y[train_Y.session_id.isin(val_idx)].reset_index()
    print('train & valid: ', len(train_X), len(valid_X))
    
    
    tr_data = lgb.Dataset(train_X[feature_cols], label=train_y[target_col], feature_name=feature_cols)
    va_data = lgb.Dataset(valid_X[feature_cols], label=valid_y[target_col], feature_name=feature_cols)
    del train_X, train_y, valid_X, valid_y
    
    cv = lgb.train(
        params, 
        tr_data,
        num_boost_round=5000,
        valid_sets=[tr_data, va_data],
        early_stopping_rounds=50,
        feature_name=feature_cols,
        categorical_feature=categorical_columns,
        verbose_eval=50
    )
    
    score = cv.best_score['valid_1']['auc']
    best_cv_scores[target_col] = score
    
    print('-'*100)
    all_train_X = train_df[train_df.session_id.isin(sampling_ids)]
    all_train_y = train_Y[train_Y.session_id.isin(sampling_ids)]
    all_tr_data = lgb.Dataset(all_train_X[feature_cols], label=all_train_y[target_col], feature_name=feature_cols)
    model = lgb.train(
        params, 
        tr_data,
        num_boost_round=cv.current_iteration(),
        valid_sets=[all_tr_data],
        early_stopping_rounds=50,
        feature_name=feature_cols,
        categorical_feature=categorical_columns,
        verbose_eval=50
    )
    score = model.best_score['valid_0']['auc']
    best_model_scores[target_col] = score
    
    
     # _ = lgb.plot_importance(model)
    models.append(model)
#     del tr_data, va_data

****************************************************************************************************
****************************************************************************************************
38 30544 374281
train & valid:  73305 18327

/Users/imazekishouta/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1554: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['day', 'gender', 'jp_holiday', 'month', 'register_number', 'tgif', 'weekday']
  warnings.warn('categorical_feature in Dataset is overridden.\n'

[LightGBM] [Info] Number of positive: 23406, number of negative: 49899
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.064624 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 65149
[LightGBM] [Info] Number of data points in the train set: 73305, number of used features: 184

/Users/imazekishouta/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1286: UserWarning: Overriding the parameters from Reference Dataset.
  warnings.warn('Overriding the parameters from Reference Dataset.')
/Users/imazekishouta/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1098: UserWarning: categorical_column in param dict is overridden.
  warnings.warn('{} in param dict is overridden.'.format(cat_alias))

[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.319296 -> initscore=-0.757009
[LightGBM] [Info] Start training from score -0.757009
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.916123	valid_1's auc: 0.792423
Early stopping, best iteration is:
[47]	training's auc: 0.913471	valid_1's auc: 0.792471
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 23406, number of negative: 49899
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.068540 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 65149
[LightGBM] [Info] Number of data points in the train set: 73305, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.319296 -> initscore=-0.757009
[LightGBM] [Info] Start training from score -0.757009
Training until validation scores don't improve for 50 rounds
Did not meet early stopping. Best iteration is:
[47]	valid_0's auc: 0.890916
****************************************************************************************************
****************************************************************************************************
110 5730 399095
train & valid:  13752 3438
[LightGBM] [Info] Number of positive: 4715, number of negative: 9037
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.026769 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 55415
[LightGBM] [Info] Number of data points in the train set: 13752, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.342859 -> initscore=-0.650578
[LightGBM] [Info] Start training from score -0.650578
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.996005	valid_1's auc: 0.780761
Early stopping, best iteration is:
[15]	training's auc: 0.965531	valid_1's auc: 0.781412
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 4715, number of negative: 9037
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.012248 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 55415
[LightGBM] [Info] Number of data points in the train set: 13752, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.342859 -> initscore=-0.650578
[LightGBM] [Info] Start training from score -0.650578
Training until validation scores don't improve for 50 rounds
Did not meet early stopping. Best iteration is:
[15]	valid_0's auc: 0.933978
****************************************************************************************************
****************************************************************************************************
113 14570 390255
train & valid:  34968 8742
[LightGBM] [Info] Number of positive: 11443, number of negative: 23525
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.040526 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 61592
[LightGBM] [Info] Number of data points in the train set: 34968, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.327242 -> initscore=-0.720685
[LightGBM] [Info] Start training from score -0.720685
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.958751	valid_1's auc: 0.777318
[100]	training's auc: 0.99312	valid_1's auc: 0.776208
Early stopping, best iteration is:
[58]	training's auc: 0.967008	valid_1's auc: 0.778246
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 11443, number of negative: 23525
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.035896 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 61592
[LightGBM] [Info] Number of data points in the train set: 34968, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.327242 -> initscore=-0.720685
[LightGBM] [Info] Start training from score -0.720685
Training until validation scores don't improve for 50 rounds
[50]	valid_0's auc: 0.925627
Did not meet early stopping. Best iteration is:
[58]	valid_0's auc: 0.933082
****************************************************************************************************
****************************************************************************************************
114 79493 325332
train & valid:  190783 47696
[LightGBM] [Info] Number of positive: 63384, number of negative: 127399
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.045615 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 67964
[LightGBM] [Info] Number of data points in the train set: 190783, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.332231 -> initscore=-0.698112
[LightGBM] [Info] Start training from score -0.698112
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.826538	valid_1's auc: 0.74866
[100]	training's auc: 0.87253	valid_1's auc: 0.749471
[150]	training's auc: 0.9061	valid_1's auc: 0.749624
[200]	training's auc: 0.928287	valid_1's auc: 0.749643
Early stopping, best iteration is:
[178]	training's auc: 0.919209	valid_1's auc: 0.749699
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 63384, number of negative: 127399
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.060936 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 67964
[LightGBM] [Info] Number of data points in the train set: 190783, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.332231 -> initscore=-0.698112
[LightGBM] [Info] Start training from score -0.698112
Training until validation scores don't improve for 50 rounds
[50]	valid_0's auc: 0.810957
[100]	valid_0's auc: 0.848301
[150]	valid_0's auc: 0.875886
Did not meet early stopping. Best iteration is:
[178]	valid_0's auc: 0.886829
****************************************************************************************************
****************************************************************************************************
134 54040 350785
train & valid:  129696 32424
[LightGBM] [Info] Number of positive: 43245, number of negative: 86451
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.037415 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 67032
[LightGBM] [Info] Number of data points in the train set: 129696, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.333434 -> initscore=-0.692696
[LightGBM] [Info] Start training from score -0.692696
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.846492	valid_1's auc: 0.738614
Early stopping, best iteration is:
[27]	training's auc: 0.818107	valid_1's auc: 0.738787
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 43245, number of negative: 86451
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.034886 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 67032
[LightGBM] [Info] Number of data points in the train set: 129696, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.333434 -> initscore=-0.692696
[LightGBM] [Info] Start training from score -0.692696
Training until validation scores don't improve for 50 rounds

Did not meet early stopping. Best iteration is:
[27]	valid_0's auc: 0.801968
****************************************************************************************************
****************************************************************************************************
171 34143 370682
train & valid:  81943 20486
[LightGBM] [Info] Number of positive: 27043, number of negative: 54900
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.080214 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 65415
[LightGBM] [Info] Number of data points in the train set: 81943, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.330022 -> initscore=-0.708085
[LightGBM] [Info] Start training from score -0.708085
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.926629	valid_1's auc: 0.84388
[100]	training's auc: 0.964021	valid_1's auc: 0.842871
Early stopping, best iteration is:
[50]	training's auc: 0.926629	valid_1's auc: 0.84388
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 27043, number of negative: 54900
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.070703 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 65415
[LightGBM] [Info] Number of data points in the train set: 81943, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.330022 -> initscore=-0.708085
[LightGBM] [Info] Start training from score -0.708085
Training until validation scores don't improve for 50 rounds
[50]	valid_0's auc: 0.91037
Did not meet early stopping. Best iteration is:
[50]	valid_0's auc: 0.91037
****************************************************************************************************
****************************************************************************************************
172 7488 397337
train & valid:  17971 4493
[LightGBM] [Info] Number of positive: 5907, number of negative: 12064
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.023726 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 57422
[LightGBM] [Info] Number of data points in the train set: 17971, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.328696 -> initscore=-0.714088
[LightGBM] [Info] Start training from score -0.714088
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.991176	valid_1's auc: 0.862302
[100]	training's auc: 0.999489	valid_1's auc: 0.864475
[150]	training's auc: 0.999922	valid_1's auc: 0.865072
[200]	training's auc: 0.99999	valid_1's auc: 0.865309
[250]	training's auc: 1	valid_1's auc: 0.865822
Early stopping, best iteration is:
[244]	training's auc: 0.999999	valid_1's auc: 0.865891
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 5907, number of negative: 12064
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.015063 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 57422
[LightGBM] [Info] Number of data points in the train set: 17971, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.328696 -> initscore=-0.714088
[LightGBM] [Info] Start training from score -0.714088
Training until validation scores don't improve for 50 rounds
[50]	valid_0's auc: 0.967244
[100]	valid_0's auc: 0.97774
[150]	valid_0's auc: 0.98066
[200]	valid_0's auc: 0.98236
Did not meet early stopping. Best iteration is:
[244]	valid_0's auc: 0.983461
****************************************************************************************************
****************************************************************************************************
173 39113 365712
train & valid:  93871 23468
[LightGBM] [Info] Number of positive: 30988, number of negative: 62883
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.100432 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 65825
[LightGBM] [Info] Number of data points in the train set: 93871, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.330113 -> initscore=-0.707676
[LightGBM] [Info] Start training from score -0.707676
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.916251	valid_1's auc: 0.851967
[100]	training's auc: 0.955042	valid_1's auc: 0.852058
Early stopping, best iteration is:
[83]	training's auc: 0.943518	valid_1's auc: 0.85246
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 30988, number of negative: 62883
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.140120 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 65825
[LightGBM] [Info] Number of data points in the train set: 93871, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.330113 -> initscore=-0.707676
[LightGBM] [Info] Start training from score -0.707676
Training until validation scores don't improve for 50 rounds
[50]	valid_0's auc: 0.903402
Did not meet early stopping. Best iteration is:
[83]	valid_0's auc: 0.925437
****************************************************************************************************
****************************************************************************************************
376 34444 370381
train & valid:  82665 20667
[LightGBM] [Info] Number of positive: 27312, number of negative: 55353
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.097603 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 65633
[LightGBM] [Info] Number of data points in the train set: 82665, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.330394 -> initscore=-0.706405
[LightGBM] [Info] Start training from score -0.706405
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.880482	valid_1's auc: 0.749393
[100]	training's auc: 0.941301	valid_1's auc: 0.748605
Early stopping, best iteration is:
[62]	training's auc: 0.896746	valid_1's auc: 0.74981
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 27312, number of negative: 55353
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.075167 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 65633
[LightGBM] [Info] Number of data points in the train set: 82665, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.330394 -> initscore=-0.706405
[LightGBM] [Info] Start training from score -0.706405
Training until validation scores don't improve for 50 rounds
[50]	valid_0's auc: 0.85418
Did not meet early stopping. Best iteration is:
[62]	valid_0's auc: 0.867521
****************************************************************************************************
****************************************************************************************************
435 18991 385834
train & valid:  45578 11395
[LightGBM] [Info] Number of positive: 15038, number of negative: 30540
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.051936 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 62872
[LightGBM] [Info] Number of data points in the train set: 45578, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.329940 -> initscore=-0.708457
[LightGBM] [Info] Start training from score -0.708457
Training until validation scores don't improve for 50 rounds

[50]	training's auc: 0.95035	valid_1's auc: 0.855285
[100]	training's auc: 0.986378	valid_1's auc: 0.85531
[150]	training's auc: 0.997498	valid_1's auc: 0.854721
Early stopping, best iteration is:
[103]	training's auc: 0.987474	valid_1's auc: 0.855659
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 15038, number of negative: 30540
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.044991 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 62872
[LightGBM] [Info] Number of data points in the train set: 45578, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.329940 -> initscore=-0.708457
[LightGBM] [Info] Start training from score -0.708457
Training until validation scores don't improve for 50 rounds
[50]	valid_0's auc: 0.931662
[100]	valid_0's auc: 0.961997
Did not meet early stopping. Best iteration is:
[103]	valid_0's auc: 0.963049
****************************************************************************************************
****************************************************************************************************
467 9108 395717
train & valid:  21859 5465
[LightGBM] [Info] Number of positive: 7126, number of negative: 14733
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.022749 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 59388
[LightGBM] [Info] Number of data points in the train set: 21859, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.325998 -> initscore=-0.726340
[LightGBM] [Info] Start training from score -0.726340
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.985587	valid_1's auc: 0.853813
Early stopping, best iteration is:
[27]	training's auc: 0.965278	valid_1's auc: 0.855143
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 7126, number of negative: 14733
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.018100 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 59388
[LightGBM] [Info] Number of data points in the train set: 21859, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.325998 -> initscore=-0.726340
[LightGBM] [Info] Start training from score -0.726340
Training until validation scores don't improve for 50 rounds
Did not meet early stopping. Best iteration is:
[27]	valid_0's auc: 0.942888
****************************************************************************************************
****************************************************************************************************
537 10614 394211
train & valid:  25473 6369
[LightGBM] [Info] Number of positive: 7955, number of negative: 17518
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.027210 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 60576
[LightGBM] [Info] Number of data points in the train set: 25473, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.312291 -> initscore=-0.789428
[LightGBM] [Info] Start training from score -0.789428
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.986892	valid_1's auc: 0.878742
[100]	training's auc: 0.99882	valid_1's auc: 0.879733
Early stopping, best iteration is:
[95]	training's auc: 0.998398	valid_1's auc: 0.87996
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 7955, number of negative: 17518
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.034263 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 60576
[LightGBM] [Info] Number of data points in the train set: 25473, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.312291 -> initscore=-0.789428
[LightGBM] [Info] Start training from score -0.789428
Training until validation scores don't improve for 50 rounds
[50]	valid_0's auc: 0.965143
Did not meet early stopping. Best iteration is:
[95]	valid_0's auc: 0.97632
****************************************************************************************************
****************************************************************************************************
539 14460 390365
train & valid:  34704 8676
[LightGBM] [Info] Number of positive: 11345, number of negative: 23359
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.039153 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 61276
[LightGBM] [Info] Number of data points in the train set: 34704, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.326908 -> initscore=-0.722205
[LightGBM] [Info] Start training from score -0.722205
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.966667	valid_1's auc: 0.825894
Early stopping, best iteration is:
[48]	training's auc: 0.96523	valid_1's auc: 0.826246
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 11345, number of negative: 23359
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.034038 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 61276
[LightGBM] [Info] Number of data points in the train set: 34704, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.326908 -> initscore=-0.722205
[LightGBM] [Info] Start training from score -0.722205
Training until validation scores don't improve for 50 rounds
Did not meet early stopping. Best iteration is:
[48]	valid_0's auc: 0.93876
****************************************************************************************************
****************************************************************************************************
629 4070 400755
train & valid:  9768 2442
[LightGBM] [Info] Number of positive: 3326, number of negative: 6442
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.010161 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 51946
[LightGBM] [Info] Number of data points in the train set: 9768, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.340500 -> initscore=-0.661069
[LightGBM] [Info] Start training from score -0.661069
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.996344	valid_1's auc: 0.910173
[100]	training's auc: 0.999929	valid_1's auc: 0.910948
Early stopping, best iteration is:
[63]	training's auc: 0.998979	valid_1's auc: 0.911507
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 3326, number of negative: 6442
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.012412 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 51946
[LightGBM] [Info] Number of data points in the train set: 9768, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.340500 -> initscore=-0.661069
[LightGBM] [Info] Start training from score -0.661069
Training until validation scores don't improve for 50 rounds
[50]	valid_0's auc: 0.980773
Did not meet early stopping. Best iteration is:
[63]	valid_0's auc: 0.983736
****************************************************************************************************
****************************************************************************************************
768 39411 365414
train & valid:  94586 23647

[LightGBM] [Info] Number of positive: 31710, number of negative: 62876
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.094925 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 65972
[LightGBM] [Info] Number of data points in the train set: 94586, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.335250 -> initscore=-0.684532
[LightGBM] [Info] Start training from score -0.684532
Training until validation scores don't improve for 50 rounds
[50]	training's auc: 0.864249	valid_1's auc: 0.731393
Early stopping, best iteration is:
[27]	training's auc: 0.829975	valid_1's auc: 0.731592
----------------------------------------------------------------------------------------------------
[LightGBM] [Info] Number of positive: 31710, number of negative: 62876
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.075499 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 65972
[LightGBM] [Info] Number of data points in the train set: 94586, number of used features: 184
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.335250 -> initscore=-0.684532
[LightGBM] [Info] Start training from score -0.684532
Training until validation scores don't improve for 50 rounds
Did not meet early stopping. Best iteration is:
[27]	valid_0's auc: 0.810741

In [49]:
cv_scores = []
model_scores = []
for k, k2 in zip(best_cv_scores.keys(), best_model_scores.keys()):
    cv_scores.append(best_cv_scores[k])
    model_scores.append(best_model_scores[k2])
    print(f'{k}: cv: {best_cv_scores[k]}, model: {best_model_scores[k2]}')
print('cv: ', sum(cv_scores) / len(cv_scores))
print('model: ', sum(model_scores) / len(model_scores))

38: cv: 0.7924707015087893, model: 0.8909161997914506
110: cv: 0.7814115140413402, model: 0.9339780677308431
113: cv: 0.7782456591984158, model: 0.9330817488667352
114: cv: 0.7496987977338029, model: 0.886829063691035
134: cv: 0.7387865488863945, model: 0.8019682574515081
171: cv: 0.8438803679690574, model: 0.9103703907064454
172: cv: 0.865890711123159, model: 0.9834614656955402
173: cv: 0.8524596954762633, model: 0.9254369486065648
376: cv: 0.74981022280575, model: 0.8675214893825528
435: cv: 0.8556586994742647, model: 0.9630489549463332
467: cv: 0.8551425215686513, model: 0.9428881583058633
537: cv: 0.879959533253792, model: 0.9763196996660554
539: cv: 0.8262459002055995, model: 0.9387601606185997
629: cv: 0.9115072127867067, model: 0.9837356700010262
768: cv: 0.7315916342640179, model: 0.8107411144981049
cv:  0.8141839813530669
model:  0.9166038259972438

In [50]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(12, 8))
_ = lgb.plot_importance(models[7])

# Inference

In [63]:
max_time_agg = max_time_df.groupby('user_id')[['spend_time']].mean().reset_index()
max_time_agg = pd.merge(max_time_agg, meta_df[['session_id', 'user_id']], on='user_id', how='left')
max_time_agg.head()

                  user_id  spend_time  session_id
0  222BJXjf8z6YfvHVLvjbhK    1462.875        4498
1  222BJXjf8z6YfvHVLvjbhK    1462.875       13033
2  222BJXjf8z6YfvHVLvjbhK    1462.875       30288
3  222BJXjf8z6YfvHVLvjbhK    1462.875       42768
4  222BJXjf8z6YfvHVLvjbhK    1462.875       45908

In [64]:
# make feature
agg = all_train_Y.groupby('user_id')[target_category_str].agg(['sum', 'count'])

cols = []
for col in target_category_str:
    cols.append(col + '_sum')
    cols.append(col + '_count')
agg.columns = cols

for col in target_category_str:
    k = col + '_avg'
    agg[k]= agg[col + '_sum'] / agg[col + '_count']
    agg.drop([col + '_sum', col + '_count'], axis=1, inplace=True)

agg = agg.reset_index()

agg = pd.merge(agg, meta_df[['session_id', 'user_id']], on='user_id', how='left')

agg.head()

,user_id,38_avg,110_avg,113_avg,114_avg,134_avg,171_avg,172_avg,173_avg,376_avg,435_avg,467_avg,537_avg,539_avg,629_avg,768_avg,session_id
0,222BJXjf8z6YfvHVLvjbhK,0.0,0.0,0.0,0.0,0.0,0.125,0.0,0.375,0.0,0.0,0.0,0.625,0.0,0.0,0.125,4498
1,222BJXjf8z6YfvHVLvjbhK,0.0,0.0,0.0,0.0,0.0,0.125,0.0,0.375,0.0,0.0,0.0,0.625,0.0,0.0,0.125,13033
2,222BJXjf8z6YfvHVLvjbhK,0.0,0.0,0.0,0.0,0.0,0.125,0.0,0.375,0.0,0.0,0.0,0.625,0.0,0.0,0.125,30288
3,222BJXjf8z6YfvHVLvjbhK,0.0,0.0,0.0,0.0,0.0,0.125,0.0,0.375,0.0,0.0,0.0,0.625,0.0,0.0,0.125,42768
4,222BJXjf8z6YfvHVLvjbhK,0.0,0.0,0.0,0.0,0.0,0.125,0.0,0.375,0.0,0.0,0.0,0.625,0.0,0.0,0.125,45908

In [65]:
# make feature
depart_agg = all_train_depart_target_Y.groupby('user_id')[depart_target_str].agg(['sum', 'count'])

cols = []
for col in depart_target_str:
    cols.append(col + '_sum')
    cols.append(col + '_count')
depart_agg.columns = cols

for col in depart_target_str:
    k = col + '_depart_avg'
    depart_agg[k]= depart_agg[col + '_sum'] / depart_agg[col + '_count']
    depart_agg.drop([col + '_sum', col + '_count'], axis=1, inplace=True)

depart_agg = depart_agg.reset_index()

depart_agg = pd.merge(depart_agg, meta_df[['session_id', 'user_id']], on='user_id', how='left')

depart_agg.head()

,user_id,1_depart_avg,2_depart_avg,3_depart_avg,4_depart_avg,5_depart_avg,7_depart_avg,9_depart_avg,10_depart_avg,13_depart_avg,...,226_depart_avg,227_depart_avg,228_depart_avg,229_depart_avg,230_depart_avg,231_depart_avg,232_depart_avg,233_depart_avg,234_depart_avg,session_id
0,222BJXjf8z6YfvHVLvjbhK,0.125,0.125,0.625,0.125,0.25,0.0,0.125,0.0,0.0,...,0.125,0.0,0.25,0.0,0.25,0.0,0.0,0.625,0.0,4498
1,222BJXjf8z6YfvHVLvjbhK,0.125,0.125,0.625,0.125,0.25,0.0,0.125,0.0,0.0,...,0.125,0.0,0.25,0.0,0.25,0.0,0.0,0.625,0.0,13033
2,222BJXjf8z6YfvHVLvjbhK,0.125,0.125,0.625,0.125,0.25,0.0,0.125,0.0,0.0,...,0.125,0.0,0.25,0.0,0.25,0.0,0.0,0.625,0.0,30288
3,222BJXjf8z6YfvHVLvjbhK,0.125,0.125,0.625,0.125,0.25,0.0,0.125,0.0,0.0,...,0.125,0.0,0.25,0.0,0.25,0.0,0.0,0.625,0.0,42768
4,222BJXjf8z6YfvHVLvjbhK,0.125,0.125,0.625,0.125,0.25,0.0,0.125,0.0,0.0,...,0.125,0.0,0.25,0.0,0.25,0.0,0.0,0.625,0.0,45908

In [66]:
# make feature
agg2 = all_train_price.groupby('user_id')[target_category_str].agg(['sum', 'count'])

cols = []
for col in target_category_str:
    cols.append(col + '_sum')
    cols.append(col + '_count')
agg2.columns = cols

for col in target_category_str:
    k = col + '_price_avg'
    agg2[k]= agg2[col + '_sum'] / agg2[col + '_count']
    agg2.drop([col + '_sum', col + '_count'], axis=1, inplace=True)

agg2 = agg2.reset_index()

agg2 = pd.merge(agg2, meta_df[['session_id', 'user_id']], on='user_id', how='left')

agg2.head()

,user_id,38_price_avg,110_price_avg,113_price_avg,114_price_avg,134_price_avg,171_price_avg,172_price_avg,173_price_avg,376_price_avg,435_price_avg,467_price_avg,537_price_avg,539_price_avg,629_price_avg,768_price_avg,session_id
0,222BJXjf8z6YfvHVLvjbhK,0.0,0.0,0.0,0.0,0.0,12.5,0.0,172.375,0.0,0.0,0.0,71.5,0.0,0.0,52.0,4498
1,222BJXjf8z6YfvHVLvjbhK,0.0,0.0,0.0,0.0,0.0,12.5,0.0,172.375,0.0,0.0,0.0,71.5,0.0,0.0,52.0,13033
2,222BJXjf8z6YfvHVLvjbhK,0.0,0.0,0.0,0.0,0.0,12.5,0.0,172.375,0.0,0.0,0.0,71.5,0.0,0.0,52.0,30288
3,222BJXjf8z6YfvHVLvjbhK,0.0,0.0,0.0,0.0,0.0,12.5,0.0,172.375,0.0,0.0,0.0,71.5,0.0,0.0,52.0,42768
4,222BJXjf8z6YfvHVLvjbhK,0.0,0.0,0.0,0.0,0.0,12.5,0.0,172.375,0.0,0.0,0.0,71.5,0.0,0.0,52.0,45908

In [67]:
child_agg = child_feature_df.groupby('user_id')[child_col].agg(['sum', 'count'])

child_agg['avg'] = child_agg['sum'] / child_agg['count']
child_agg = child_agg.reset_index()

child_agg.drop(['count'], axis=1, inplace=True)
child_agg.columns = ['user_id'] + child_cols

child_agg = pd.merge(child_agg, meta_df[['session_id', 'user_id']], on='user_id', how='left')

child_agg.head()

                  user_id  child_items_sum  child_items_avg  session_id
0  222BJXjf8z6YfvHVLvjbhK              0.0              0.0        4498
1  222BJXjf8z6YfvHVLvjbhK              0.0              0.0       13033
2  222BJXjf8z6YfvHVLvjbhK              0.0              0.0       30288
3  222BJXjf8z6YfvHVLvjbhK              0.0              0.0       42768
4  222BJXjf8z6YfvHVLvjbhK              0.0              0.0       45908

In [57]:
test_given_df, given_cols = read_and_col_name('../output/test_given.csv')

test_df = pd.read_csv(os.path.join(input_path, 'test.csv'))
test_X = pd.merge(test_df, meta_df, on='session_id', how='left')
test_X = pd.merge(test_X, max_time_agg, on='session_id', how='left')
test_X = pd.merge(test_X, agg, on='session_id', how='left')
test_X = pd.merge(test_X, agg2, on='session_id', how='left')
test_X = pd.merge(test_X, depart_agg, on='session_id', how='left')
test_X = pd.merge(test_X, child_agg, on='session_id', how='left')
test_X = pd.merge(test_X, train_given_df, on='session_id', how='left')
test_X = pd.merge(test_X, train_child_given_df, on='session_id', how='left')



test_X = test_X[feature_cols]
test_X.fillna(-1, inplace=True) # 初めて & ユーザー情報に紐づかない人
test_X.head()

,age,gender,hour,weekday,jp_holiday,tgif,num_visit,month,day,register_number,...,228_depart_avg,229_depart_avg,230_depart_avg,231_depart_avg,232_depart_avg,233_depart_avg,234_depart_avg,child_items_sum,child_items_avg,child_items
0,50.0,0.0,8,5,1,0,120,8,1,1018,...,0.165354,0.055118,0.173228,0.125984,0.031496,0.039370,0.393701,127.0,0.907143,0.0
1,40.0,0.0,8,5,1,0,65,8,1,1082,...,0.181818,0.075758,0.000000,0.000000,0.060606,0.015152,0.393939,100.0,1.351351,0.0
2,50.0,0.0,9,5,1,0,92,8,1,1002,...,0.443299,0.144330,0.082474,0.484536,0.226804,0.360825,0.546392,16.0,0.136752,0.0
3,50.0,0.0,9,5,1,0,117,8,1,1010,...,0.129032,0.032258,0.040323,0.008065,0.016129,0.000000,0.483871,2.0,0.014706,0.0
4,60.0,0.0,9,5,1,0,69,8,1,1018,...,0.328571,0.085714,0.028571,0.000000,0.271429,0.000000,0.514286,22.0,0.252874,0.0

In [58]:
len(test_df)

56486

In [59]:
len(test_X)

56486

In [60]:
for model, col in zip(models, target_category_str):
    test_df[col] = model.predict(test_X)
test_df.head()

,session_id,38,110,113,114,134,171,172,173,376,435,467,537,539,629,768
0,663721,0.407896,0.249965,0.184316,0.293207,0.239379,0.244440,0.004871,0.231979,0.543755,0.111753,0.210683,0.042489,0.332127,0.815461,0.196752
1,663725,0.471573,0.348073,0.554759,0.455116,0.484798,0.151574,0.109723,0.112116,0.303270,0.081482,0.163298,0.042792,0.088429,0.042028,0.202434
2,663737,0.604286,0.413216,0.364828,0.646203,0.503165,0.529439,0.005168,0.107249,0.671852,0.077359,0.140489,0.766604,0.313476,0.192573,0.639907
3,663745,0.162330,0.259086,0.296017,0.633318,0.312104,0.853976,0.019316,0.821750,0.510850,0.114386,0.264669,0.039569,0.124258,0.045505,0.492397
4,663747,0.135420,0.323281,0.231921,0.388819,0.624447,0.234226,0.555444,0.302906,0.634084,0.068408,0.287162,0.070507,0.097127,0.058882,0.236511

In [61]:
test_df.drop('session_id', axis=1, inplace=True)

In [62]:
now = datetime.datetime.now()
now = now.strftime("%m%d_%H%M")
test_df.round(5).to_csv(f'../output/submission_{now}.csv', index=None)